.yaku.yaku-menzen-tsumo h3 {
  font-size: 6.5px;
  margin-top: 1px;
  letter-spacing: -0.3px;
}

.yaku.yaku-pinfu .yaku-description {
  letter-spacing: -0.3px;
}

section.riichi .riichi-ippatsu .line-right {
  font-size: 6.5px;
}
