.yaku h3:after,
.kanji,
.roumaji {
  display: none !important;
}

section header {
  line-height: 1em;
}

.yakus-sequences .yaku-description,
.yakus-suits .yaku-description,
.yakus-triplets .yaku-description {
    line-height: 1.1em;
}

.yaku-name-translated {
  font-weight: bold;
  font-style: normal;
}

.yaku-common {
  padding: 0px 2px;
}

section.credits {
  line-height: 1em;
}
