<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Riichi Initiation Sheet</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200..700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="__path.styles__/initiation.css">
</head>

<body>
  <main>
    <div class="recto">
      <section class="tiles">
        <header>
          <h2>__Tiles__</h2>
        </header>

        <div class="wrapper">
          <div class="suits">
            <h3>
              <img src="__path.images__/initiation/tiles-suits.png">
              __Suits__
            </h3>
            <div class="line characters">
              <h4>__Characters__</h4>
              <div class="tile-group">
                <div class="tile"><img src="__path.images__/tiles/man-1.png"></div>
                <div class="tile"><img src="__path.images__/tiles/man-2.png"></div>
                <div class="tile"><img src="__path.images__/tiles/man-3.png"></div>
                <div class="tile"><img src="__path.images__/tiles/man-4.png"></div>
                <div class="tile"><img src="__path.images__/tiles/man-5.png"></div>
                <div class="tile"><img src="__path.images__/tiles/man-6.png"></div>
                <div class="tile"><img src="__path.images__/tiles/man-7.png"></div>
                <div class="tile"><img src="__path.images__/tiles/man-8.png"></div>
                <div class="tile"><img src="__path.images__/tiles/man-9.png"></div>
              </div>
            </div>
            <div class="line circles">
              <h4>__Circles__</h4>
              <div class="tile-group">
                <div class="tile"><img src="__path.images__/tiles/pin-1.png"></div>
                <div class="tile"><img src="__path.images__/tiles/pin-2.png"></div>
                <div class="tile"><img src="__path.images__/tiles/pin-3.png"></div>
                <div class="tile"><img src="__path.images__/tiles/pin-4.png"></div>
                <div class="tile"><img src="__path.images__/tiles/pin-5.png"></div>
                <div class="tile"><img src="__path.images__/tiles/pin-6.png"></div>
                <div class="tile"><img src="__path.images__/tiles/pin-7.png"></div>
                <div class="tile"><img src="__path.images__/tiles/pin-8.png"></div>
                <div class="tile"><img src="__path.images__/tiles/pin-9.png"></div>
              </div>
            </div>
            <div class="line bamboos">
              <h4>__Bamboos__</h4>
              <div class="tile-group">
                <div class="tile"><img src="__path.images__/tiles/sou-1.png"></div>
                <div class="tile"><img src="__path.images__/tiles/sou-2.png"></div>
                <div class="tile"><img src="__path.images__/tiles/sou-3.png"></div>
                <div class="tile"><img src="__path.images__/tiles/sou-4.png"></div>
                <div class="tile"><img src="__path.images__/tiles/sou-5.png"></div>
                <div class="tile"><img src="__path.images__/tiles/sou-6.png"></div>
                <div class="tile"><img src="__path.images__/tiles/sou-7.png"></div>
                <div class="tile"><img src="__path.images__/tiles/sou-8.png"></div>
                <div class="tile"><img src="__path.images__/tiles/sou-9.png"></div>
              </div>
            </div>
            <div class="line tile-numbers">
              <h4>&nbsp;</h4>
              <div>
                <p data-tile-type="__terminal__" class="terminal">
                  <span>1</span>
                </p>
                <p data-tile-type="__simples__" class="simples">
                  <span>2</span>
                  <span>3</span>
                  <span>4</span>
                  <span>5</span>
                  <span>6</span>
                  <span>7</span>
                  <span>8</span>
                </p>
                <p data-tile-type="__terminal__" class="terminal">
                  <span>9</span>
                </p>
              </div>
            </div>
          </div>

          <div class="honors">
            <h3>
              <img src="__path.images__/initiation/tiles-honors.png">
              __Honors__
            </h3>
            <div class="line winds">
              <h4>__Winds__</h4>
              <div class="tile-group">
                <div>
                  <div class="tile"><img src="__path.images__/tiles/ton.png"></div>
                  <span>__East__</span>
                </div>
                <div>
                  <div class="tile"><img src="__path.images__/tiles/nan.png"></div>
                  <span>__South__</span>
                </div>
                <div>
                  <div class="tile"><img src="__path.images__/tiles/shaa.png"></div>
                  <span>__West__</span>
                </div>
                <div>
                  <div class="tile"><img src="__path.images__/tiles/pei.png"></div>
                  <span>__North__</span>
                </div>
              </div>
            </div>
            <div class="line dragons">
              <h4>__Dragons__</h4>
              <div class="tile-group">
                <div>
                  <div class="tile"><img src="__path.images__/tiles/haku.png"></div>
                  <span>__White__</span>
                </div>
                <div>
                  <div class="tile"><img src="__path.images__/tiles/hatsu.png"></div>
                  <span>__Green__</span>
                </div>
                <div>
                  <div class="tile"><img src="__path.images__/tiles/chun.png"></div>
                  <span>__Red__</span>
                </div>
              </div>
            </div>
            <div class="line round-seat-wind">
              <div class="header">
                <h4>__Round Wind__</h4>
                <h4>__Player's Seat Wind__</h4>
              </div>
              <div class="content">
                <div class="round-wind">
                  <img src="__path.images__/initiation/tiles-round-wind.png">
                  <span>__1st = East__</span>
                  <span>__2nd = South__</span>
                </div>
                <div class="winds-order">
                  <span class="north">__North__<span class="kanji"> 北</span></span>
                  <span class="west">__West__<span class="kanji"> 西</span></span>
                  <img src="__path.images__/initiation/tiles-counter-clockwise.svg">
                  <span class="east">__East__<span class="kanji"> 東</span></span>
                  <span class="south">__South__<span class="kanji"> 南</span></span>
                </div>
                <div class="seat-wind">
                  <img src="__path.images__/initiation/tiles-seat-wind.png">
                  <span>__1 player<br>= 1 Wind__</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="basic-elements">
        <header>
          <h2>__Basic elements__</h2>
        </header>

        <div class="wrapper">
          <div class="sequence">
            <h3><span class="translation">__Sequence__</span> <span class="roumaji">Chii</span></h3>
            <p class="description">__Run of 3 tiles from the same suit__</p>
            <div class="tile-group">
              <div class="tile"><img src="__path.images__/tiles/pin-2.png"></div>
              <div class="tile"><img src="__path.images__/tiles/pin-3.png"></div>
              <div class="tile"><img src="__path.images__/tiles/pin-4.png"></div>
            </div>
            <div class="call-constraint">
              <img src="__path.images__/initiation/call-on.png">
              <p>__On the previous player__</p>
            </div>
          </div>

          <div class="triplet">
            <h3><span class="translation">__Triplet__</span> <span class="roumaji">Pon</span></h3>
            <p class="description">__Set of 3 identical tiles__</p>
            <div class="tile-group">
              <div class="tile"><img src="__path.images__/tiles/chun.png"></div>
              <div class="tile"><img src="__path.images__/tiles/chun.png"></div>
              <div class="tile"><img src="__path.images__/tiles/chun.png"></div>
            </div>
            <div class="call-constraint">
              <img src="__path.images__/initiation/call-on.png">
              <p>__On anybody__</p>
            </div>
          </div>

          <div class="quad">
            <h3><span class="translation">__Quad__</span> <span class="roumaji">Kan</span></h3>
            <p class="description">__Set of 4 identical tiles__</p>
            <div class="tile-group">
              <div class="tile"><img src="__path.images__/tiles/sou-2.png"></div>
              <div class="tile"><img src="__path.images__/tiles/sou-2.png"></div>
              <div class="tile"><img src="__path.images__/tiles/sou-2.png"></div>
            </div>
            <div class="call-constraint">
              <img src="__path.images__/initiation/call-on.png">
              <p>__On anybody__</p>
            </div>
          </div>

          <div class="pair">
            <h3><span class="translation">__Pair__</span> <span class="roumaji">Toitsu</span></h3>
            <p class="description">__Set of 2 identical tiles__</p>
            <div class="tile-group">
              <div class="tile"><img src="__path.images__/tiles/man-6.png"></div>
              <div class="tile"><img src="__path.images__/tiles/man-6.png"></div>
            </div>
            <div class="call-constraint">&nbsp;</div>
          </div>
        </div>
      </section>

      <section class="how-to-win">
        <header>
          <h2>__How to win?__</h2>
        </header>

        <div class="wrapper">
          <div class="winning-hand">
            <h3>
              <img src="__path.images__/initiation/how-to-win-winning-hand.png" class="main-icon">
              __Winning hand__
            </h3>

            <div class="line condition-hand">
              <img src="__path.images__/initiation/how-to-win-condition.png">
              <p>__Have a hand made up of<br><b>4 basics elements</b> and <b>1 pair</b>__</p>
            </div>
            <div class="line condition-yaku">
              <img src="__path.images__/initiation/how-to-win-condition.png">
              <p>
                __With at least one valid combination__<br>
                <b>→ __See the yakus below__</b>
              </p>
            </div>

            <div class="yaku-tiles">
              <p class="condition-hand-elements">__4 elements__</p>
              <p class="condition-hand-pair">__1 pair__</p>
              <p class="condition-yaku-yaku">__how-to-win.Value Triplet__</p>
              <div class="tile-group">
                <div class="tile"><img src="__path.images__/tiles/man-4.png"></div>
                <div class="tile"><img src="__path.images__/tiles/man-5.png"></div>
                <div class="tile"><img src="__path.images__/tiles/man-6.png"></div>
              </div>
              <div class="tile-group">
                <div class="tile"><img src="__path.images__/tiles/pin-5.png"></div>
                <div class="tile"><img src="__path.images__/tiles/pin-5.png"></div>
                <div class="tile"><img src="__path.images__/tiles/pin-5.png"></div>
              </div>
              <div class="tile-group">
                <div class="tile"><img src="__path.images__/tiles/sou-3.png"></div>
                <div class="tile"><img src="__path.images__/tiles/sou-3.png"></div>
                <div class="tile"><img src="__path.images__/tiles/sou-3.png"></div>
              </div>
              <div class="tile-group">
                <div class="tile"><img src="__path.images__/tiles/chun.png"></div>
                <div class="tile"><img src="__path.images__/tiles/chun.png"></div>
                <div class="tile"><img src="__path.images__/tiles/chun.png"></div>
              </div>
              <div class="tile-group">
                <div class="tile"><img src="__path.images__/tiles/sou-8.png"></div>
                <div class="tile"><img src="__path.images__/tiles/sou-8.png"></div>
              </div>
            </div>
          </div>

          <div class="winning-tsumo">
            <h3>
              <img src="__path.images__/initiation/how-to-win-tsumo.png" class="main-icon">
              <img src="__path.images__/initiation/call.svg" class="call-icon">
              __Tsumo__
            </h3>
            <div class="line">
              <img src="__path.images__/initiation/how-to-win-tsumo-wall.png">
              <img src="__path.images__/initiation/call-on.png">
              <p>__By drawing the<br>last tile yourself__</p>
            </div>
          </div>

          <div class="or">
            <p>__Or__</p>
          </div>

          <div class="winning-ron">
            <h3>
              <img src="__path.images__/initiation/how-to-win-ron.png" class="main-icon">
              <img src="__path.images__/initiation/call.svg" class="call-icon">
              __Ron__
            </h3>
            <div class="line">
              <img src="__path.images__/initiation/how-to-win-ron-discards.png">
              <img src="__path.images__/initiation/call-on.png">
              <p>__By taking the tile<br>discarded by a player__</p>
            </div>
          </div>
        </div>
      </section>

      <section class="open-yakus">
        <header>
          <h2>__A few combinations / « open » yakus__</h2>
          <div class="simplified-rules">__simplified rules__</div>
        </header>

        <div class="wrapper">
          <div class="column">
            <div class="yaku yaku-tanyao">
              <div class="yaku-info">
                <h3><p class="yaku-name-translated">__All Simples__</p> <span class="roumaji">Tanyao</span></h3>
                <p class="yaku-description">__Hand without Terminals (1 or 9) or Honors.__</p>
                <div class="yaku-score">
                  <div class="yaku-score-box">1</div>
                </div>
              </div>
              <div class="yaku-tiles">
                <div class="tile-group">
                  <div class="tile"><img src="__path.images__/tiles/man-2.png"></div>
                  <div class="tile"><img src="__path.images__/tiles/man-2.png"></div>
                  <div class="tile"><img src="__path.images__/tiles/man-2.png"></div>
                </div>
                <div class="tile-group">
                  <div class="tile"><img src="__path.images__/tiles/pin-3.png"></div>
                  <div class="tile"><img src="__path.images__/tiles/pin-4.png"></div>
                  <div class="tile"><img src="__path.images__/tiles/pin-5.png"></div>
                </div>
                <div class="tile-group">
                  <div class="tile"><img src="__path.images__/tiles/pin-6.png"></div>
                  <div class="tile"><img src="__path.images__/tiles/pin-7.png"></div>
                  <div class="tile"><img src="__path.images__/tiles/pin-8.png"></div>
                </div>
                <div class="tile-group">
                  <div class="tile"><img src="__path.images__/tiles/sou-6.png"></div>
                  <div class="tile"><img src="__path.images__/tiles/sou-6.png"></div>
                  <div class="tile"><img src="__path.images__/tiles/sou-6.png"></div>
                </div>
                <div class="tile-group">
                  <div class="tile"><img src="__path.images__/tiles/sou-8.png"></div>
                  <div class="tile"><img src="__path.images__/tiles/sou-8.png"></div>
                </div>
              </div>
            </div>

            <div class="yaku yaku-chanta">
              <div class="yaku-info">
                <h3><p class="yaku-name-translated">__Terminals and Honors Everywhere__</p> <span class="roumaji">Chanta</span></h3>
                <p class="yaku-description">__A terminal (1 or 9) or an honor in every element.__</p>
                <div class="yaku-score">
                  <div class="yaku-score-box">1</div>
                </div>
              </div>
              <div class="yaku-tiles">
                <div class="tile-group">
                  <div class="tile"><img src="__path.images__/tiles/pin-1.png"></div>
                  <div class="tile"><img src="__path.images__/tiles/pin-2.png"></div>
                  <div class="tile"><img src="__path.images__/tiles/pin-3.png"></div>
                </div>
                <div class="tile-group">
                  <div class="tile"><img src="__path.images__/tiles/pin-9.png"></div>
                  <div class="tile"><img src="__path.images__/tiles/pin-9.png"></div>
                  <div class="tile"><img src="__path.images__/tiles/pin-9.png"></div>
                </div>
                <div class="tile-group">
                  <div class="tile"><img src="__path.images__/tiles/sou-7.png"></div>
                  <div class="tile"><img src="__path.images__/tiles/sou-8.png"></div>
                  <div class="tile"><img src="__path.images__/tiles/sou-9.png"></div>
                </div>
                <div class="tile-group">
                  <div class="tile"><img src="__path.images__/tiles/chun.png"></div>
                  <div class="tile"><img src="__path.images__/tiles/chun.png"></div>
                  <div class="tile"><img src="__path.images__/tiles/chun.png"></div>
                </div>
                <div class="tile-group">
                  <div class="tile"><img src="__path.images__/tiles/man-9.png"></div>
                  <div class="tile"><img src="__path.images__/tiles/man-9.png"></div>
                </div>
              </div>
            </div>

            <div class="yaku yaku-sanshoku-doujun">
              <div class="yaku-info">
                <h3><p class="yaku-name-translated">__Three Colored Sequences__</p> <span class="roumaji">Sanshoku Doujun</span></h3>
                <p class="yaku-description">__The same Sequence in all three suits.__</p>
                <div class="yaku-score">
                  <div class="yaku-score-box">1</div>
                </div>
              </div>
              <div class="yaku-tiles">
                <div class="tile-group">
                  <div class="tile"><img src="__path.images__/tiles/man-4.png"></div>
                  <div class="tile"><img src="__path.images__/tiles/man-5.png"></div>
                  <div class="tile"><img src="__path.images__/tiles/man-6.png"></div>
                </div>
                <div class="tile-group">
                  <div class="tile"><img src="__path.images__/tiles/pin-4.png"></div>
                  <div class="tile"><img src="__path.images__/tiles/pin-5.png"></div>
                  <div class="tile"><img src="__path.images__/tiles/pin-6.png"></div>
                </div>
                <div class="tile-group">
                  <div class="tile"><img src="__path.images__/tiles/sou-4.png"></div>
                  <div class="tile"><img src="__path.images__/tiles/sou-5.png"></div>
                  <div class="tile"><img src="__path.images__/tiles/sou-6.png"></div>
                </div>
                <div class="tile-group">
                  <div class="tile tile-unknown"></div>
                  <div class="tile tile-unknown"></div>
                  <div class="tile tile-unknown"></div>
                </div>
                <div class="tile-group">
                  <div class="tile tile-unknown"></div>
                  <div class="tile tile-unknown"></div>
                </div>
              </div>
            </div>

            <div class="yaku yaku-ittsuu">
              <div class="yaku-info">
                <h3><p class="yaku-name-translated">__Pure Straight__</p> <span class="roumaji">Ittsuu</span></h3>
                <p class="yaku-description">__123, 456 and 789 in the same suit.__</p>
                <div class="yaku-score">
                  <div class="yaku-score-box">1</div>
                </div>
              </div>
              <div class="yaku-tiles">
                <div class="tile-group">
                  <div class="tile"><img src="__path.images__/tiles/sou-1.png"></div>
                  <div class="tile"><img src="__path.images__/tiles/sou-2.png"></div>
                  <div class="tile"><img src="__path.images__/tiles/sou-3.png"></div>
                </div>
                <div class="tile-group">
                  <div class="tile"><img src="__path.images__/tiles/sou-4.png"></div>
                  <div class="tile"><img src="__path.images__/tiles/sou-5.png"></div>
                  <div class="tile"><img src="__path.images__/tiles/sou-6.png"></div>
                </div>
                <div class="tile-group">
                  <div class="tile"><img src="__path.images__/tiles/sou-7.png"></div>
                  <div class="tile"><img src="__path.images__/tiles/sou-8.png"></div>
                  <div class="tile"><img src="__path.images__/tiles/sou-9.png"></div>
                </div>
                <div class="tile-group">
                  <div class="tile tile-unknown"></div>
                  <div class="tile tile-unknown"></div>
                  <div class="tile tile-unknown"></div>
                </div>
                <div class="tile-group">
                  <div class="tile tile-unknown"></div>
                  <div class="tile tile-unknown"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="yaku yaku-yakuhai">
              <div class="yaku-info">
                <h3><p class="yaku-name-translated">__open-yakus.Value Triplet__</p> <span class="roumaji">Yakuhai</span></h3>
                <p class="yaku-description">__Dragon, Player's Seat Wind or Round Wind Triplet.__</p>
                <div class="yaku-score">
                  <div class="yaku-score-box">1</div>
                </div>
              </div>
              <div class="yaku-tiles">
                <div class="tile-group">
                  <div class="tile"><img src="__path.images__/tiles/hatsu.png"></div>
                  <div class="tile"><img src="__path.images__/tiles/hatsu.png"></div>
                  <div class="tile"><img src="__path.images__/tiles/hatsu.png"></div>
                </div>
                <div class="tile-group">
                  <div class="tile tile-unknown"></div>
                  <div class="tile tile-unknown"></div>
                  <div class="tile tile-unknown"></div>
                </div>
                <div class="tile-group">
                  <div class="tile tile-unknown"></div>
                  <div class="tile tile-unknown"></div>
                  <div class="tile tile-unknown"></div>
                </div>
                <div class="tile-group">
                  <div class="tile tile-unknown"></div>
                  <div class="tile tile-unknown"></div>
                  <div class="tile tile-unknown"></div>
                </div>
                <div class="tile-group">
                  <div class="tile tile-unknown"></div>
                  <div class="tile tile-unknown"></div>
                </div>
              </div>
            </div>

            <div class="yaku yaku-toitoi">
              <div class="yaku-info">
                <h3><p class="yaku-name-translated">__All Triplets__</p> <span class="roumaji">Toitoi</span></h3>
                <p class="yaku-description">__Only Triplets (Pon) and Quads (Kan), plus the Pair.__</p>
                <div class="yaku-score">
                  <div class="yaku-score-box">2</div>
                </div>
              </div>
              <div class="yaku-tiles">
                <div class="tile-group">
                  <div class="tile"><img src="__path.images__/tiles/pin-2.png"></div>
                  <div class="tile"><img src="__path.images__/tiles/pin-2.png"></div>
                  <div class="tile"><img src="__path.images__/tiles/pin-2.png"></div>
                </div>
                <div class="tile-group">
                  <div class="tile"><img src="__path.images__/tiles/pin-9.png"></div>
                  <div class="tile"><img src="__path.images__/tiles/pin-9.png"></div>
                  <div class="tile"><img src="__path.images__/tiles/pin-9.png"></div>
                </div>
                <div class="tile-group">
                  <div class="tile"><img src="__path.images__/tiles/sou-4.png"></div>
                  <div class="tile"><img src="__path.images__/tiles/sou-4.png"></div>
                  <div class="tile"><img src="__path.images__/tiles/sou-4.png"></div>
                </div>
                <div class="tile-group">
                  <div class="tile"><img src="__path.images__/tiles/hatsu.png"></div>
                  <div class="tile"><img src="__path.images__/tiles/hatsu.png"></div>
                  <div class="tile"><img src="__path.images__/tiles/hatsu.png"></div>
                </div>
                <div class="tile-group">
                  <div class="tile"><img src="__path.images__/tiles/man-9.png"></div>
                  <div class="tile"><img src="__path.images__/tiles/man-9.png"></div>
                </div>
              </div>
            </div>

            <div class="yaku yaku-honitsu">
              <div class="yaku-info">
                <h3><p class="yaku-name-translated">__Half Flush__</p> <span class="roumaji">Hon'itsu</span></h3>
                <p class="yaku-description">__Only tiles from a single suit and Honors.__</p>
                <div class="yaku-score">
                  <div class="yaku-score-box">2</div>
                </div>
              </div>
              <div class="yaku-tiles">
                <div class="tile-group">
                  <div class="tile"><img src="__path.images__/tiles/pin-2.png"></div>
                  <div class="tile"><img src="__path.images__/tiles/pin-2.png"></div>
                  <div class="tile"><img src="__path.images__/tiles/pin-2.png"></div>
                </div>
                <div class="tile-group">
                  <div class="tile"><img src="__path.images__/tiles/pin-4.png"></div>
                  <div class="tile"><img src="__path.images__/tiles/pin-5.png"></div>
                  <div class="tile"><img src="__path.images__/tiles/pin-6.png"></div>
                </div>
                <div class="tile-group">
                  <div class="tile"><img src="__path.images__/tiles/nan.png"></div>
                  <div class="tile"><img src="__path.images__/tiles/nan.png"></div>
                  <div class="tile"><img src="__path.images__/tiles/nan.png"></div>
                </div>
                <div class="tile-group">
                  <div class="tile"><img src="__path.images__/tiles/hatsu.png"></div>
                  <div class="tile"><img src="__path.images__/tiles/hatsu.png"></div>
                  <div class="tile"><img src="__path.images__/tiles/hatsu.png"></div>
                </div>
                <div class="tile-group">
                  <div class="tile"><img src="__path.images__/tiles/pin-9.png"></div>
                  <div class="tile"><img src="__path.images__/tiles/pin-9.png"></div>
                </div>
              </div>
            </div>

            <div class="yaku yaku-chinnitsu">
              <div class="yaku-info">
                <h3><p class="yaku-name-translated">__Flush__</p> <span class="roumaji">Chin'itsu</span></h3>
                <div class="yaku-description">__Only tiles from a single suit.__</div>
                <div class="yaku-score">
                  <div class="yaku-score-box">5</div>
                </div>
              </div>
              <div class="yaku-tiles">
                <div class="tile-group">
                  <div class="tile"><img src="__path.images__/tiles/man-2.png"></div>
                  <div class="tile"><img src="__path.images__/tiles/man-2.png"></div>
                  <div class="tile"><img src="__path.images__/tiles/man-2.png"></div>
                </div>
                <div class="tile-group">
                  <div class="tile"><img src="__path.images__/tiles/man-4.png"></div>
                  <div class="tile"><img src="__path.images__/tiles/man-5.png"></div>
                  <div class="tile"><img src="__path.images__/tiles/man-6.png"></div>
                </div>
                <div class="tile-group">
                  <div class="tile"><img src="__path.images__/tiles/man-5.png"></div>
                  <div class="tile"><img src="__path.images__/tiles/man-6.png"></div>
                  <div class="tile"><img src="__path.images__/tiles/man-7.png"></div>
                </div>
                <div class="tile-group">
                  <div class="tile"><img src="__path.images__/tiles/man-9.png"></div>
                  <div class="tile"><img src="__path.images__/tiles/man-9.png"></div>
                  <div class="tile"><img src="__path.images__/tiles/man-9.png"></div>
                </div>
                <div class="tile-group">
                  <div class="tile"><img src="__path.images__/tiles/man-4.png"></div>
                  <div class="tile"><img src="__path.images__/tiles/man-4.png"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <div class="verso">
      <section class="doras">
        <header>
          <h2>__Doras__</h2>
          <div class="simplified-rules">__simplified rules__</div>
        </header>

        <div class="wrapper">
          <div class="line">
            <div class="line-left dora-dead-wall">
              <h3>__The dead wall__</h3>
              <p>__These 14 tiles are not drawn during the game, except to provide replacement tiles during Kans.__</p>
            </div>

            <div class="line-right">
              <div class="dora-indicators">
                <p class="dead-wall" data-before="__dora indicator__" data-after="__uradora indicator__">
                  <img src="__path.images__/initiation/doras-dead-wall.png" class="main-icon">
                </p>
                <div class="tile-group">
                  <div class="tile"><img src="__path.images__/tiles/sou-3.png"></div>
                </div>
                <img src="__path.images__/yakus/arrow.svg" class="arrow-icon">
                <div class="tile-group dora" data-after="__dora__">
                  <div class="tile"><img src="__path.images__/tiles/sou-4.png"></div>
                </div>
              </div>

              <div class="dora-bonus-han">
                <div class="han-per-dora">
                  <div class="yaku-score-wrapper">
                    <div class="yaku-score">
                      <div class="yaku-score-box">+1</div>
                    </div>
                  </div>
                  <p><b>__1 bonus han__</b><br>__per dora tile__</p>
                </div>
                <div class="extra-indicators">
                  <img src="__path.images__/initiation/uradora-reveal.png">
                  __Other indicators can be revealed under certain conditions (Kan, Riichi)__
                </div>
              </div>
            </div>
          </div>

          <div class="line">
            <div class="line-left dora-knowing">
              <h3>__Know the dora__</h3>
              <p>__The dora is the tile immediately following the indicator, Honors have a defined order.__</p>
            </div>

            <div class="line-right dora-order">
              <div class="tile-group">
                <div class="tile"><img src="__path.images__/tiles/pin-1.png"></div>
                <img src="__path.images__/yakus/arrow.svg">
                <div class="tile"><img src="__path.images__/tiles/pin-2.png"></div>
                <img src="__path.images__/yakus/ellipsis.svg">
                <div class="tile"><img src="__path.images__/tiles/pin-9.png"></div>
                <img src="__path.images__/yakus/arrow.svg">
                <div class="tile"><img src="__path.images__/tiles/pin-1.png"></div>
              </div>
              <div class="tile-group">
                <div class="tile"><img src="__path.images__/tiles/ton.png"></div>
                <img src="__path.images__/yakus/arrow.svg">
                <div class="tile"><img src="__path.images__/tiles/nan.png"></div>
                <img src="__path.images__/yakus/arrow.svg">
                <div class="tile"><img src="__path.images__/tiles/shaa.png"></div>
                <img src="__path.images__/yakus/arrow.svg">
                <div class="tile"><img src="__path.images__/tiles/pei.png"></div>
                <img src="__path.images__/yakus/arrow.svg">
                <div class="tile"><img src="__path.images__/tiles/ton.png"></div>
              </div>
              <div class="tile-group">
                <div class="tile"><img src="__path.images__/tiles/haku.png"></div>
                <img src="__path.images__/yakus/arrow.svg">
                <div class="tile"><img src="__path.images__/tiles/hatsu.png"></div>
                <img src="__path.images__/yakus/arrow.svg">
                <div class="tile"><img src="__path.images__/tiles/chun.png"></div>
                <img src="__path.images__/yakus/arrow.svg">
                <div class="tile"><img src="__path.images__/tiles/haku.png"></div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="riichi">
        <header>
          <h2>__title.Riichi__</h2>
        </header>

        <div class="wrapper">
          <div class="column-left">
            <h3>
              <img src="__path.images__/initiation/riichi-bet.png">
              <img src="__path.images__/initiation/call.svg">
              __subtitle.Riichi__
            </h3>

            <div class="riichi-concealed">
              <img src="__path.images__/initiation/riichi-concealed.svg">
              <p>__Have a concealed hand<br>waiting one last tile to win__</p>
            </div>

            <div class="riichi-call">
              <img src="__path.images__/initiation/riichi-call.png">
              <p>__Clearly announce « Riichi »__</p>
            </div>

            <div class="riichi-tilt">
              <img src="__path.images__/initiation/riichi-tilt.png">
              <p>__Tilt your discard tile to indicate<br>when the Riichi took place__</p>
            </div>

            <div class="riichi-bet">
              <img src="__path.images__/initiation/riichi-bet.png">
              <p>__Bet 1000 points__</p>
            </div>
          </div>

          <div class="column-right">
            <div class="riichi-han">
              <div class="line-left yaku-score">
                <div class="yaku-score-box">1</div>
              </div>
              <p class="line-right">__Riichi is a <b>1 han yaku</b> which can be used alone, or combined with other yakus__</p>
            </div>

            <div class="riichi-ippatsu">
              <div class="line-left yaku-score">
                <div class="yaku-score-box">+1</div>
              </div>
              <p class="line-right">__In case of victory in the first uninterrupted turn following the Riichi, <b>+1 han (Ippatsu)</b>__</p>
            </div>

            <div class="riichi-uradora">
              <div class="line-left">
                <img src="__path.images__/initiation/uradora-reveal.png">
              </div>
              <p class="line-right">__In the event of a victory, <b>uradora indicators are revealed</b>, which can bring bonus han__</p>
            </div>

            <div class="riichi-locked">
              <div class="line-left">
                <img src="__path.images__/initiation/riichi-locked.svg">
              </div>
              <p class="line-right">__Once you have announced a Riichi, <b>you can no longer change your hand</b>__</p>
            </div>
          </div>
        </div>
      </section>

      <section class="furiten">
        <header>
          <h2>__Furiten__</h2>
        </header>

        <div class="wrapper">
          <div class="impossible-ron">
            <h3>
              <img src="__path.images__/initiation/furiten-warning.svg">
              __Impossible ron__
            </h3>
            <p>
              __Furiten is a rule that prohibits you from winning on the discard of opponents (Ron) in 3 different situations:__
            </p>
          </div>

          <div class="own-discard">
            <h3>
              <img src="__path.images__/initiation/furiten-own-discard.svg">
              __Own discard__
            </h3>
            <p>
              __If you have <b>already discarded any tile that could complete your hand</b>, you remain furiten until you change your waiting tile(s).__
            </p>
          </div>

          <div class="other-discards">
            <h3>
              <img src="__path.images__/initiation/furiten-other-discards.svg">
              __Other discards__
            </h3>
            <p>
              __If you <b>let pass a tile that can complete your hand</b>, you remain furiten until your next draw, or until your next call.__
            </p>
          </div>

          <div class="after-riichi">
            <h3>
              <img src="__path.images__/initiation/riichi-bet.png">
              <img src="__path.images__/initiation/furiten-after-riichi.svg">
              __After a Riichi__
            </h3>
            <p>
              __If you <b>let pass a tile that can complete your hand once you have announced a Riichi</b>, you remain furiten until the end of the game.__
            </p>
          </div>
        </div>
      </section>

      <section class="closed-yakus">
        <header>
          <h2>__A few combinations / « closed » yakus__</h2>
          <div class="simplified-rules">__simplified rules__</div>
        </header>

        <div class="wrapper">
          <div class="column">
            <div class="yaku yaku-menzen-tsumo">
              <div class="yaku-info">
                <h3><p class="yaku-name-translated">__All Concealed Self Draw__</p> <span class="roumaji">Menzen Tsumo</span></h3>
                <div class="yaku-description">__Tsumo with a concealed hand (no call during the game).__</div>
                <div class="yaku-score">
                  <div class="yaku-score-box">1</div>
                </div>
              </div>
              <div class="yaku-tiles">
                <div class="closed">
                  <div class="tile-group">
                    <div class="tile tile-unknown"></div>
                    <div class="tile tile-unknown"></div>
                    <div class="tile tile-unknown"></div>
                  </div>
                  <div class="tile-group">
                    <div class="tile tile-unknown"></div>
                    <div class="tile tile-unknown"></div>
                    <div class="tile tile-unknown"></div>
                  </div>
                  <div class="tile-group">
                    <div class="tile tile-unknown"></div>
                    <div class="tile tile-unknown"></div>
                    <div class="tile tile-unknown"></div>
                  </div>
                  <div class="tile-group">
                    <div class="tile tile-unknown"></div>
                    <div class="tile tile-unknown"></div>
                    <div class="tile tile-unknown"></div>
                  </div>
                  <div class="tile-group">
                    <div class="tile tile-unknown"></div>
                    <div class="tile tile-unknown"></div>
                  </div>
                </div>
              </div>
            </div>

            <div class="yaku yaku-pinfu">
              <div class="yaku-info">
                <h3><p class="yaku-name-translated">__Pinfu__</p> <span class="roumaji">Pinfu</span></h3>
                <div class="yaku-description">__Concealed hand, 4 Sequences and 1 valueless Pair, double waiting.__</div>
                <div class="yaku-score">
                  <div class="yaku-score-box">1</div>
                </div>
              </div>
              <div class="yaku-tiles">
                <div class="closed">
                  <div class="tile-group">
                    <div class="tile"><img src="__path.images__/tiles/man-1.png"></div>
                    <div class="tile"><img src="__path.images__/tiles/man-2.png"></div>
                    <div class="tile"><img src="__path.images__/tiles/man-3.png"></div>
                  </div>
                  <div class="tile-group">
                    <div class="tile"><img src="__path.images__/tiles/pin-6.png"></div>
                    <div class="tile"><img src="__path.images__/tiles/pin-7.png"></div>
                    <div class="tile"><img src="__path.images__/tiles/pin-8.png"></div>
                  </div>
                  <div class="tile-group">
                    <div class="tile"><img src="__path.images__/tiles/sou-3.png"></div>
                    <div class="tile"><img src="__path.images__/tiles/sou-4.png"></div>
                    <div class="tile tilted"><img src="__path.images__/tiles/sou-5.png"></div>
                  </div>
                  <div class="tile-group">
                    <div class="tile"><img src="__path.images__/tiles/sou-7.png"></div>
                    <div class="tile"><img src="__path.images__/tiles/sou-8.png"></div>
                    <div class="tile"><img src="__path.images__/tiles/sou-9.png"></div>
                  </div>
                  <div class="tile-group">
                    <div class="tile"><img src="__path.images__/tiles/pin-3.png"></div>
                    <div class="tile"><img src="__path.images__/tiles/pin-3.png"></div>
                  </div>
                </div>
              </div>
            </div>

            <div class="separator">&nbsp;</div>

            <div class="closed-extra-han">
              <img src="__path.images__/initiation/closed-yakus-bonus-han.png">
              <div class="yaku-score">
                <div class="yaku-score-box">+1</div>
              </div>
              <p>__Some Yakus seen previously are worth <b>1 extra han</b> if done with a <b>concealed hand</b>:__</p>
            </div>

            <div class="yaku yaku-chanta">
              <div class="yaku-info">
                <h3><p class="yaku-name-translated">__Terminals and Honors Everywhere__</p> <span class="roumaji">Chanta</span></h3>
                <div class="yaku-score">
                  <div class="yaku-score-box">2</div>
                </div>
              </div>
            </div>

            <div class="yaku yaku-sanshoku-doujun">
              <div class="yaku-info">
                <h3><p class="yaku-name-translated">__Three Colored Sequences__</p> <span class="roumaji">Sanshoku Doujun</span></h3>
                <div class="yaku-score">
                  <div class="yaku-score-box">2</div>
                </div>
              </div>
            </div>
          </div>

          <div class="column">
            <div class="yaku yaku-iipeikou">
              <div class="yaku-info">
                <h3><p class="yaku-name-translated">__Pure Double Sequence__</p> <span class="roumaji">Iipeikou</span></h3>
                <div class="yaku-description">__Concealed hand with 2 identical Sequences in the same suit.__</div>
                <div class="yaku-score">
                  <div class="yaku-score-box">1</div>
                </div>
              </div>
              <div class="yaku-tiles">
                <div class="closed">
                  <div class="tile-group">
                    <div class="tile"><img src="__path.images__/tiles/man-4.png"></div>
                    <div class="tile"><img src="__path.images__/tiles/man-5.png"></div>
                    <div class="tile"><img src="__path.images__/tiles/man-6.png"></div>
                  </div>
                  <div class="tile-group">
                    <div class="tile"><img src="__path.images__/tiles/man-4.png"></div>
                    <div class="tile"><img src="__path.images__/tiles/man-5.png"></div>
                    <div class="tile"><img src="__path.images__/tiles/man-6.png"></div>
                  </div>
                  <div class="tile-group">
                    <div class="tile tile-unknown"></div>
                    <div class="tile tile-unknown"></div>
                    <div class="tile tile-unknown"></div>
                  </div>
                  <div class="tile-group">
                    <div class="tile tile-unknown"></div>
                    <div class="tile tile-unknown"></div>
                    <div class="tile tile-unknown"></div>
                  </div>
                  <div class="tile-group">
                    <div class="tile tile-unknown"></div>
                    <div class="tile tile-unknown"></div>
                  </div>
                </div>
              </div>
            </div>

            <div class="yaku yaku-chiitoitsu">
              <div class="yaku-info">
                <h3><p class="yaku-name-translated">__Seven Pairs__</p> <span class="roumaji">Chiitoitsu</span></h3>
                <div class="yaku-description">__Doubles pairs are not allowed.__</div>
                <div class="yaku-score">
                  <div class="yaku-score-box">2</div>
                </div>
              </div>
              <div class="yaku-tiles">
                <div class="closed">
                  <div class="tile-group">
                    <div class="tile"><img src="__path.images__/tiles/man-2.png"></div>
                    <div class="tile"><img src="__path.images__/tiles/man-2.png"></div>
                  </div>
                  <div class="tile-group">
                    <div class="tile"><img src="__path.images__/tiles/man-3.png"></div>
                    <div class="tile"><img src="__path.images__/tiles/man-3.png"></div>
                  </div>
                  <div class="tile-group">
                    <div class="tile"><img src="__path.images__/tiles/man-9.png"></div>
                    <div class="tile"><img src="__path.images__/tiles/man-9.png"></div>
                  </div>
                  <div class="tile-group">
                    <div class="tile"><img src="__path.images__/tiles/sou-7.png"></div>
                    <div class="tile"><img src="__path.images__/tiles/sou-7.png"></div>
                  </div>
                  <div class="tile-group">
                    <div class="tile"><img src="__path.images__/tiles/sou-8.png"></div>
                    <div class="tile"><img src="__path.images__/tiles/sou-8.png"></div>
                  </div>
                  <div class="tile-group">
                    <div class="tile"><img src="__path.images__/tiles/ton.png"></div>
                    <div class="tile"><img src="__path.images__/tiles/ton.png"></div>
                  </div>
                  <div class="tile-group">
                    <div class="tile"><img src="__path.images__/tiles/shaa.png"></div>
                    <div class="tile"><img src="__path.images__/tiles/shaa.png"></div>
                  </div>
                </div>
              </div>
            </div>

            <div class="separator">&nbsp;</div>

            <div class="yaku yaku-ittsuu">
              <div class="yaku-info">
                <h3><p class="yaku-name-translated">__Pure Straight__</p> <span class="roumaji">Ittsuu</span></h3>
                <div class="yaku-score">
                  <div class="yaku-score-box">2</div>
                </div>
              </div>
            </div>

            <div class="yaku yaku-honitsu">
              <div class="yaku-info">
                <h3><p class="yaku-name-translated">__Half Flush__</p> <span class="roumaji">Hon'itsu</span></h3>
                <div class="yaku-score">
                  <div class="yaku-score-box">3</div>
                </div>
              </div>
            </div>

            <div class="yaku yaku-chinnitsu">
              <div class="yaku-info">
                <h3><p class="yaku-name-translated">__Flush__</p> <span class="roumaji">Chin'itsu</span></h3>
                <div class="yaku-score">
                  <div class="yaku-score-box">6</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="credits">
        <header>
          <h2>__Credits__</h2>
        </header>

        <div class="credits-left">
          __Based on EMA RCR 2025 rules (simplified)__<br>
          __Creation:__ axellegeyre.com / zessx<br>
          __Translation:__ __meta.translator__
        </div>

        <div class="credits-right">
          CC BY-SA 4.0<br>
          __meta.version__-__meta.language__ <em>__meta.date__</em><br>
          <a href="__meta.url__" target="_blank">__meta.url__</a>
        </div>

        <img src="__path.images__/cc-by-sa-4.0.svg" alt="CC BY-SA 4.0">
      </section>
    </div>
  </main>
</body>
</html>
