<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Riichi Ruler Sheet</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200..700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="__path.styles__/ruler.css">
</head>
<body>
  <main>
    <section>
      <div class="ruler-top">

        <div class="tile-group tile-group-bamboos">
          <div class="group-label">__Bamboos__</div>
          <div class="group-tiles">
            <div class="tile-cell"><div class="tile"><img src="__path.images__/tiles/sou-1.png"></div><div class="tile-num">1</div></div>
            <div class="tile-cell"><div class="tile"><img src="__path.images__/tiles/sou-2.png"></div><div class="tile-num">2</div></div>
            <div class="tile-cell"><div class="tile"><img src="__path.images__/tiles/sou-3.png"></div><div class="tile-num">3</div></div>
            <div class="tile-ellipsis">…</div>
          </div>
        </div>

        <div class="tile-group tile-group-circles">
          <div class="group-label">__Circles__</div>
          <div class="group-tiles">
            <div class="tile-cell"><div class="tile"><img src="__path.images__/tiles/pin-1.png"></div><div class="tile-num">1</div></div>
            <div class="tile-cell"><div class="tile"><img src="__path.images__/tiles/pin-2.png"></div><div class="tile-num">2</div></div>
            <div class="tile-cell"><div class="tile"><img src="__path.images__/tiles/pin-3.png"></div><div class="tile-num">3</div></div>
            <div class="tile-ellipsis">…</div>
          </div>
        </div>

        <div class="tile-group tile-group-characters">
          <div class="group-label">__Characters__</div>
          <div class="group-tiles">
            <div class="tile-cell"><div class="tile"><img src="__path.images__/tiles/man-1.png"></div><div class="tile-num">1</div></div>
            <div class="tile-cell"><div class="tile"><img src="__path.images__/tiles/man-2.png"></div><div class="tile-num">2</div></div>
            <div class="tile-cell"><div class="tile"><img src="__path.images__/tiles/man-3.png"></div><div class="tile-num">3</div></div>
            <div class="tile-cell"><div class="tile"><img src="__path.images__/tiles/man-4.png"></div><div class="tile-num">4</div></div>
            <div class="tile-cell"><div class="tile"><img src="__path.images__/tiles/man-5.png"></div><div class="tile-num">5</div></div>
            <div class="tile-cell"><div class="tile"><img src="__path.images__/tiles/man-6.png"></div><div class="tile-num">6</div></div>
            <div class="tile-cell"><div class="tile"><img src="__path.images__/tiles/man-7.png"></div><div class="tile-num">7</div></div>
            <div class="tile-cell"><div class="tile"><img src="__path.images__/tiles/man-8.png"></div><div class="tile-num">8</div></div>
            <div class="tile-cell"><div class="tile"><img src="__path.images__/tiles/man-9.png"></div><div class="tile-num">9</div></div>
          </div>
        </div>

        <div class="tile-group tile-group-winds">
          <div class="group-label">__Winds__</div>
          <div class="group-tiles">
            <div class="tile-cell"><div class="tile"><img src="__path.images__/tiles/ton.png"></div><div class="tile-num">__East__</div></div>
            <div class="tile-cell"><div class="tile"><img src="__path.images__/tiles/nan.png"></div><div class="tile-num">__South__</div></div>
            <div class="tile-cell"><div class="tile"><img src="__path.images__/tiles/shaa.png"></div><div class="tile-num">__West__</div></div>
            <div class="tile-cell"><div class="tile"><img src="__path.images__/tiles/pei.png"></div><div class="tile-num">__North__</div></div>
          </div>
        </div>

        <div class="tile-group tile-group-dragons">
          <div class="group-label">__Dragons__</div>
          <div class="group-tiles">
            <div class="tile-cell"><div class="tile"><img src="__path.images__/tiles/haku.png"></div><div class="tile-num">__White__</div></div>
            <div class="tile-cell"><div class="tile"><img src="__path.images__/tiles/hatsu.png"></div><div class="tile-num">__Green__</div></div>
            <div class="tile-cell"><div class="tile"><img src="__path.images__/tiles/chun.png"></div><div class="tile-num">__Red__</div></div>
          </div>
        </div>

      </div>

      <div class="ruler-bottom">

        <div class="box box-left-player">
          <div class="call-group call-group-chi">
            <div class="tile"><img src="__path.images__/tiles/pin-1.png"></div>
            <div class="tile tilted"><img src="__path.images__/tiles/pin-2.png"></div>
            <div class="tile"><img src="__path.images__/tiles/pin-3.png"></div>
            <img class="icon-call" src="__path.images__/ruler/call.svg">
            <span class="call-name">__Chi__</span>
          </div>

          <h4 class="box-type">__On the player to my left__</h4>
        </div>

        <div class="box box-any-player">
          <div class="call-group call-group-pon">
            <div class="tile"><img src="__path.images__/tiles/sou-8.png"></div>
            <div class="tile"><img src="__path.images__/tiles/sou-8.png"></div>
            <div class="tile tilted"><img src="__path.images__/tiles/sou-8.png"></div>
            <img class="icon-call" src="__path.images__/ruler/call.svg">
            <span class="call-name">__Pon__</span>
          </div>

          <div class="call-group call-group-kan">
            <div class="tile"><img src="__path.images__/tiles/man-7.png"></div>
            <div class="tile"><img src="__path.images__/tiles/man-7.png"></div>
            <div class="tile"><img src="__path.images__/tiles/man-7.png"></div>
            <div class="tile tilted"><img src="__path.images__/tiles/man-7.png"></div>
            <img class="icon-call" src="__path.images__/ruler/call.svg">
            <span class="call-name">__Kan__</span>
          </div>

          <div class="call-group call-group-ron">
            <img class="icon-win" src="__path.images__/ruler/win.svg">
            <img class="icon-call" src="__path.images__/ruler/call.svg">
            <span class="call-name">__Ron__</span>
          </div>

          <h4 class="box-type">__On any player__</h4>
        </div>

        <div class="box box-myself">
          <div class="call-group call-group-tsumo">
            <img class="icon-win" src="__path.images__/ruler/win.svg">
            <img class="icon-call" src="__path.images__/ruler/call.svg">
            <span class="call-name">__Tsumo__</span>
          </div>

          <h4 class="box-type">__By myself__</h4>
        </div>

        <div class="box box-info">
          <div class="info-group">
            <img src="__path.images__/ruler/counter-clockwise.svg" alt="Counter clockwise">
            <span>__Order for players__</span>
          </div>
          <div class="info-group">
            <img src="__path.images__/ruler/clockwise.svg" alt="Clockwise">
            <span>__Direction of the draw__</span>
          </div>
        </div>

      </div>

    </section>

    <aside class="credits">
      <div class="credits-content">
        __meta.version__-__meta.language__ <em>__meta.date__</em><br>
        __meta.url__<br>
        __Creation / Translation:__ zessx / __meta.translator__
      </div>
      <img src="__path.images__/cc-by-sa-4.0.svg" alt="CC BY-SA 4.0" class="cc-by-sa">
    </aside>
  </main>
</body>
</html>
