<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Riichi Score Sheet</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200..700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="__path.styles__/score.css">
</head>

<body>
  <main>
    <div class="recto">
      <section class="han">
        <header>
          <h2 data-section-num="1">
            <img src="__path.images__/score/tile-blank.png">
            <span class="kanji">飜 - </span>__Han__
          </h2>
        </header>

        <div class="column">
          <section class="yakus-honors">
            <header>
              <h3>__Terminals / Honors__</h3>

              <div class="yaku-score">
                <div class="yaku-score-box">
                  <img src="__path.images__/score/hand-opened.svg">
                </div>
                <div class="yaku-score-box">
                  <img src="__path.images__/score/hand-closed.svg">
                </div>
              </div>
            </header>

            <div class="yakus">
              <div class="yaku yaku-tanyao">
                <div class="yaku-info">
                  <h4><span class="roumaji">Tanyao</span> <span class="kanji">断幺九</span></h4>
                  <p class="yaku-name-translated">__All Simples__</p>
                  <div class="yaku-score">
                    <div class="yaku-score-box">1</div>
                    <div class="yaku-score-box">1</div>
                  </div>
                </div>
              </div>

              <div class="yaku yaku-yakuhai">
                <div class="yaku-info">
                  <h4><span class="roumaji">Yakuhai</span> <span class="kanji">役牌</span></h4>
                  <p class="yaku-name-translated">__Value Triplet__</p>
                  <div class="yaku-score">
                    <div class="yaku-score-box">1</div>
                    <div class="yaku-score-box">1</div>
                  </div>
                </div>
              </div>

              <div class="yaku yaku-shousangen">
                <div class="yaku-info">
                  <h4><span class="roumaji">Shousangen</span> <span class="kanji">小三元</span></h4>
                  <p class="yaku-name-translated">__Small Three Dragons__</p>
                  <div class="yaku-score">
                    <div class="yaku-score-box">2</div>
                    <div class="yaku-score-box">2</div>
                  </div>
                </div>
              </div>

              <div class="yaku yaku-daisangen">
                <div class="yaku-info">
                  <h4><span class="roumaji">Daisangen</span> <span class="kanji">大三元</span></h4>
                  <p class="yaku-name-translated">__Big Three Dragons__</p>
                  <div class="yaku-score">
                    <div class="yaku-score-box yakuman">Yakuman</div>
                    <div class="yaku-score-box yakuman">Yakuman</div>
                  </div>
                </div>
              </div>

              <div class="yaku yaku-shousuushii">
                <div class="yaku-info">
                  <h4><span class="roumaji">Shousuushii</span> <span class="kanji">小四喜</span></h4>
                  <p class="yaku-name-translated">__Little Four Winds__</p>
                  <div class="yaku-score">
                    <div class="yaku-score-box yakuman">Yakuman</div>
                    <div class="yaku-score-box yakuman">Yakuman</div>
                  </div>
                </div>
              </div>

              <div class="yaku yaku-daisuushii">
                <div class="yaku-info">
                  <h4><span class="roumaji">Daisuushii</span> <span class="kanji">大四喜</span></h4>
                  <p class="yaku-name-translated">__Big Four Winds__</p>
                  <div class="yaku-score">
                    <div class="yaku-score-box yakuman">Yakuman</div>
                    <div class="yaku-score-box yakuman">Yakuman</div>
                  </div>
                </div>
              </div>

              <div class="yaku yaku-chanta">
                <div class="yaku-info">
                  <h4><span class="roumaji">Chanta</span> <span class="kanji">全帯</span></h4>
                  <p class="yaku-name-translated">__Terminals and Honors Everywhere__</p>
                  <div class="yaku-score">
                    <div class="yaku-score-box">1</div>
                    <div class="yaku-score-box">2</div>
                  </div>
                </div>
              </div>

              <div class="yaku yaku-junchan">
                <div class="yaku-info">
                  <h4><span class="roumaji">Junchan</span> <span class="kanji">純全帯么</span></h4>
                  <p class="yaku-name-translated">__Terminals Everywhere__</p>
                  <div class="yaku-score">
                    <div class="yaku-score-box">2</div>
                    <div class="yaku-score-box">3</div>
                  </div>
                </div>
              </div>

              <div class="yaku yaku-honroutou">
                <div class="yaku-info">
                  <h4><span class="roumaji">Honroutou</span> <span class="kanji">混老頭</span></h4>
                  <p class="yaku-name-translated">__All Terminals and Honors__</p>
                  <div class="yaku-score">
                    <div class="yaku-score-box">2</div>
                    <div class="yaku-score-box">2</div>
                  </div>
                </div>
              </div>

              <div class="yaku yaku-chinroutou">
                <div class="yaku-info">
                  <h4><span class="roumaji">Chinroutou</span> <span class="kanji">清老頭</span></h4>
                  <p class="yaku-name-translated">__All Terminals__</p>
                  <div class="yaku-score">
                    <div class="yaku-score-box yakuman">Yakuman</div>
                    <div class="yaku-score-box yakuman">Yakuman</div>
                  </div>
                </div>
              </div>

              <div class="yaku yaku-tsuuiisou">
                <div class="yaku-info">
                  <h4><span class="roumaji">Tsuuiisou</span> <span class="kanji">字一色</span></h4>
                  <p class="yaku-name-translated">__All Honors__</p>
                  <div class="yaku-score">
                    <div class="yaku-score-box yakuman">Yakuman</div>
                    <div class="yaku-score-box yakuman">Yakuman</div>
                  </div>
                </div>
              </div>

              <div class="yaku yaku-kokushi-musou">
                <div class="yaku-info">
                  <h4><span class="roumaji">Kokushi Musou</span> <span class="kanji">国士無双</span></h4>
                  <p class="yaku-name-translated">__Thirteen Orphans__</p>
                  <div class="yaku-score">
                    <div class="yaku-score-box"></div>
                    <div class="yaku-score-box yakuman">Yakuman</div>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section class="yakus-triplets">
            <header>
              <h3>__Pairs / Triplets / Quads__</h3>

              <div class="yaku-score">
                <div class="yaku-score-box">
                  <img src="__path.images__/score/hand-opened.svg">
                </div>
                <div class="yaku-score-box">
                  <img src="__path.images__/score/hand-closed.svg">
                </div>
              </div>
            </header>

            <div class="yakus">
              <div class="yaku yaku-chiitoitsu">
                <div class="yaku-info">
                  <h4><span class="roumaji">Chiitoitsu</span> <span class="kanji">七対子</span></h4>
                  <p class="yaku-name-translated">__Seven Pairs__</p>
                  <div class="yaku-score">
                    <div class="yaku-score-box"></div>
                    <div class="yaku-score-box">2</div>
                  </div>
                </div>
              </div>

              <div class="yaku yaku-toitoi">
                <div class="yaku-info">
                  <h4><span class="roumaji">Toitoi</span> <span class="kanji">対子</span></h4>
                  <p class="yaku-name-translated">__All Triplets__</p>
                  <div class="yaku-score">
                    <div class="yaku-score-box">2</div>
                    <div class="yaku-score-box">2</div>
                  </div>
                </div>
              </div>

              <div class="yaku yaku-sanankou">
                <div class="yaku-info">
                  <h4><span class="roumaji">San'ankou</span> <span class="kanji">三暗刻</span></h4>
                  <p class="yaku-name-translated">__Three Concealed Triplets__</p>
                  <div class="yaku-score">
                    <div class="yaku-score-box">2</div>
                    <div class="yaku-score-box">2</div>
                  </div>
                </div>
              </div>

              <div class="yaku yaku-suuankou">
                <div class="yaku-info">
                  <h4><span class="roumaji">Suuankou</span> <span class="kanji">四暗刻</span></h4>
                  <p class="yaku-name-translated">__Four Concealed Triplets__</p>
                  <div class="yaku-score">
                    <div class="yaku-score-box"></div>
                    <div class="yaku-score-box yakuman">Yakuman</div>
                  </div>
                </div>
              </div>

              <div class="yaku yaku-sanshoku-doukou">
                <div class="yaku-info">
                  <h4><span class="roumaji">Sanshoku Doukou</span> <span class="kanji">三色同刻</span></h4>
                  <p class="yaku-name-translated">__Three Colored Triplets__</p>
                  <div class="yaku-score">
                    <div class="yaku-score-box">2</div>
                    <div class="yaku-score-box">2</div>
                  </div>
                </div>
              </div>

              <div class="yaku yaku-sankantsu">
                <div class="yaku-info">
                  <h4><span class="roumaji">Sankantsu</span> <span class="kanji">三槓子</span></h4>
                  <p class="yaku-name-translated">__Three Quads__</p>
                  <div class="yaku-score">
                    <div class="yaku-score-box">2</div>
                    <div class="yaku-score-box">2</div>
                  </div>
                </div>
              </div>

              <div class="yaku yaku-suukantsu">
                <div class="yaku-info">
                  <h4><span class="roumaji">Suukantsu</span> <span class="kanji">四槓子</span></h4>
                  <p class="yaku-name-translated">__Four Quads__</p>
                  <div class="yaku-score">
                    <div class="yaku-score-box yakuman">Yakuman</div>
                    <div class="yaku-score-box yakuman">Yakuman</div>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section class="dora">
            <header>
              <h3>__Dora__</h3>
            </header>

            <div class="line">
              <div class="tile-group">
                <div class="tile"><img src="__path.images__/tiles/ton.png"></div>
                <img src="__path.images__/score/arrow.svg">
                <div class="tile"><img src="__path.images__/tiles/nan.png"></div>
                <img src="__path.images__/score/arrow.svg">
                <div class="tile"><img src="__path.images__/tiles/shaa.png"></div>
                <img src="__path.images__/score/arrow.svg">
                <div class="tile"><img src="__path.images__/tiles/pei.png"></div>
                <img src="__path.images__/score/arrow.svg">
                <div class="tile"><img src="__path.images__/tiles/ton.png"></div>
              </div>
              <div class="tile-group">
                <div class="tile"><img src="__path.images__/tiles/haku.png"></div>
                <img src="__path.images__/score/arrow.svg">
                <div class="tile"><img src="__path.images__/tiles/hatsu.png"></div>
                <img src="__path.images__/score/arrow.svg">
                <div class="tile"><img src="__path.images__/tiles/chun.png"></div>
                <img src="__path.images__/score/arrow.svg">
                <div class="tile"><img src="__path.images__/tiles/haku.png"></div>
              </div>

              <div class="yaku-score">
                <div class="yaku-score-box">+1</div>
              </div>
            </div>
          </section>
        </div>

        <div class="column">
          <section class="yakus-sequences">
            <header>
              <h3>__Sequences__</h3>

              <div class="yaku-score">
                <div class="yaku-score-box">
                  <img src="__path.images__/score/hand-opened.svg">
                </div>
                <div class="yaku-score-box">
                  <img src="__path.images__/score/hand-closed.svg">
                </div>
              </div>
            </header>

            <div class="yakus">
              <div class="yaku yaku-iipeikou">
                <div class="yaku-info">
                  <h4><span class="roumaji">Iipeikou</span> <span class="kanji">一盃口</span></h4>
                  <p class="yaku-name-translated">__Pure Double Sequence__</p>
                  <div class="yaku-score">
                    <div class="yaku-score-box"></div>
                    <div class="yaku-score-box">1</div>
                  </div>
                </div>
              </div>

              <div class="yaku yaku-ryanpeikou">
                <div class="yaku-info">
                  <h4><span class="roumaji">Ryanpeikou</span> <span class="kanji">二盃口</span></h4>
                  <p class="yaku-name-translated">__Two Pure Double Sequences__</p>
                  <div class="yaku-score">
                    <div class="yaku-score-box"></div>
                    <div class="yaku-score-box">3</div>
                  </div>
                </div>
              </div>

              <div class="yaku yaku-pinfu">
                <div class="yaku-info">
                  <h4><span class="roumaji">Pinfu</span> <span class="kanji">平和</span></h4>
                  <p class="yaku-name-translated">__Pinfu__</p>
                  <div class="yaku-score">
                    <div class="yaku-score-box"></div>
                    <div class="yaku-score-box">1</div>
                  </div>
                </div>
              </div>

              <div class="yaku yaku-sanshoku-doujun">
                <div class="yaku-info">
                  <h4><span class="roumaji">Sanshoku Doujun</span> <span class="kanji">三色同順</span></h4>
                  <p class="yaku-name-translated">__Three Colored Sequences__</p>
                  <div class="yaku-score">
                    <div class="yaku-score-box">1</div>
                    <div class="yaku-score-box">2</div>
                  </div>
                </div>
              </div>

              <div class="yaku yaku-ittsuu">
                <div class="yaku-info">
                  <h4><span class="roumaji">Ittsuu</span> <span class="kanji">一気通貫</span></h4>
                  <p class="yaku-name-translated">__Pure Straight__</p>
                  <div class="yaku-score">
                    <div class="yaku-score-box">1</div>
                    <div class="yaku-score-box">2</div>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section class="yakus-suits">
            <header>
              <h3>__Suits__</h3>

              <div class="yaku-score">
                <div class="yaku-score-box">
                  <img src="__path.images__/score/hand-opened.svg">
                </div>
                <div class="yaku-score-box">
                  <img src="__path.images__/score/hand-closed.svg">
                </div>
              </div>
            </header>

            <div class="yakus">
              <div class="yaku yaku-honitsu">
                <div class="yaku-info">
                  <h4><span class="roumaji">Hon'itsu</span> <span class="kanji">混一色</span></h4>
                  <p class="yaku-name-translated">__Half Flush__</p>
                  <div class="yaku-score">
                    <div class="yaku-score-box">2</div>
                    <div class="yaku-score-box">3</div>
                  </div>
                </div>
              </div>

              <div class="yaku yaku-chinnitsu">
                <div class="yaku-info">
                  <h4><span class="roumaji">Chin'itsu</span> <span class="kanji">清一色</span></h4>
                  <p class="yaku-name-translated">__Flush__</p>
                  <div class="yaku-score">
                    <div class="yaku-score-box">5</div>
                    <div class="yaku-score-box">6</div>
                  </div>
                </div>
              </div>

              <div class="yaku yaku-ryuuiisou">
                <div class="yaku-info">
                  <h4><span class="roumaji">Ryuuiisou</span> <span class="kanji">緑一色</span></h4>
                  <p class="yaku-name-translated">__All Green__</p>
                  <div class="yaku-score">
                    <div class="yaku-score-box yakuman">Yakuman</div>
                    <div class="yaku-score-box yakuman">Yakuman</div>
                  </div>
                </div>
              </div>

              <div class="yaku yaku-chuuren-poutou">
                <div class="yaku-info">
                  <h4><span class="roumaji">Chuuren Poutou</span> <span class="kanji">九連宝燈</span></h4>
                  <p class="yaku-name-translated">__Nine Gates__</p>
                  <div class="yaku-score">
                    <div class="yaku-score-box"></div>
                    <div class="yaku-score-box yakuman">Yakuman</div>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section class="yakus-others">
            <header>
              <h3>__yakus.Other__</h3>

              <div class="yaku-score">
                <div class="yaku-score-box">
                  <img src="__path.images__/score/hand-opened.svg">
                </div>
                <div class="yaku-score-box">
                  <img src="__path.images__/score/hand-closed.svg">
                </div>
              </div>
            </header>

            <div class="yakus">
              <div class="yaku yaku-riichi">
                <div class="yaku-info">
                  <h4><span class="roumaji">Riichi</span> <span class="kanji">立直</span></h4>
                  <p class="yaku-name-translated">__Riichi__</p>
                  <div class="yaku-score">
                    <div class="yaku-score-box"></div>
                    <div class="yaku-score-box">1</div>
                  </div>
                </div>
              </div>

              <div class="yaku yaku-double-riichi">
                <div class="yaku-info">
                  <h4><span class="roumaji">Daburu Riichi</span> <span class="kanji">ダブル立直</span></h4>
                  <p class="yaku-name-translated">__Double Riichi__</p>
                  <div class="yaku-score">
                    <div class="yaku-score-box"></div>
                    <div class="yaku-score-box">+1</div>
                  </div>
                </div>
              </div>

              <div class="yaku yaku-ippatsu">
                <div class="yaku-info">
                  <h4><span class="roumaji">Ippatsu</span> <span class="kanji">一発</span></h4>
                  <p class="yaku-name-translated">__Ippatsu__</p>
                  <div class="yaku-score">
                    <div class="yaku-score-box"></div>
                    <div class="yaku-score-box">+1</div>
                  </div>
                </div>
              </div>

              <div class="yaku yaku-menzen-tsumo">
                <div class="yaku-info">
                  <h4><span class="roumaji">Menzen Tsumo</span> <span class="kanji">門前清子</span></h4>
                  <p class="yaku-name-translated">__All Concealed Self Draw__</p>
                  <div class="yaku-score">
                    <div class="yaku-score-box"></div>
                    <div class="yaku-score-box">1</div>
                  </div>
                </div>
              </div>

              <div class="yaku yaku-haitei-raoyue">
                <div class="yaku-info">
                  <h4><span class="roumaji">Haitei Raoyue</span> <span class="kanji">海底撈月</span></h4>
                  <p class="yaku-name-translated">__Under the Sea__</p>
                  <div class="yaku-score">
                    <div class="yaku-score-box">1</div>
                    <div class="yaku-score-box">1</div>
                  </div>
                </div>
              </div>

              <div class="yaku yaku-houtei-raoyui">
                <div class="yaku-info">
                  <h4><span class="roumaji">Houtei Raoyui</span> <span class="kanji">河底撈魚</span></h4>
                  <p class="yaku-name-translated">__Under the River__</p>
                  <div class="yaku-score">
                    <div class="yaku-score-box">1</div>
                    <div class="yaku-score-box">1</div>
                  </div>
                </div>
              </div>

              <div class="yaku yaku-rinshan-kaihou">
                <div class="yaku-info">
                  <h4><span class="roumaji">Rinshan Kaihou</span> <span class="kanji">嶺上開花</span></h4>
                  <p class="yaku-name-translated">__Dead Wall Draw__</p>
                  <div class="yaku-score">
                    <div class="yaku-score-box">1</div>
                    <div class="yaku-score-box">1</div>
                  </div>
                </div>
              </div>

              <div class="yaku yaku-chankan">
                <div class="yaku-info">
                  <h4><span class="roumaji">Chankan</span> <span class="kanji">搶槓</span></h4>
                  <p class="yaku-name-translated">__Robbing a Quad__</p>
                  <div class="yaku-score">
                    <div class="yaku-score-box">1</div>
                    <div class="yaku-score-box">1</div>
                  </div>
                </div>
              </div>

              <div class="yaku yaku-tenhou">
                <div class="yaku-info">
                  <h4><span class="roumaji">Tenhou</span> <span class="kanji">天和</span></h4>
                  <p class="yaku-name-translated">__Heavenly Hand__</p>
                  <div class="yaku-score">
                    <div class="yaku-score-box"></div>
                    <div class="yaku-score-box yakuman">Yakuman</div>
                  </div>
                </div>
              </div>

              <div class="yaku yaku-chiihou">
                <div class="yaku-info">
                  <h4><span class="roumaji">Chiihou</span> <span class="kanji">地和</span></h4>
                  <p class="yaku-name-translated">__Earthly Hand__</p>
                  <div class="yaku-score">
                    <div class="yaku-score-box"></div>
                    <div class="yaku-score-box yakuman">Yakuman</div>
                  </div>
                </div>
              </div>

              <div class="yaku yaku-renhou">
                <div class="yaku-info">
                  <h4><span class="roumaji">Renhou</span> <span class="kanji">人和</span></h4>
                  <p class="yaku-name-translated">__Hand of Man__</p>
                  <div class="yaku-score">
                    <div class="yaku-score-box"></div>
                    <div class="yaku-score-box mangan">Mangan</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </section>

      <section class="credits">
        <header>
          <h2>__Credits__</h2>
        </header>

        <div class="credits-left">
          __Based on EMA RCR 2025 rules__<br>
          __Creation:__ axellegeyre.com / zessx<br>
          __Translation:__ __meta.translator__
        </div>

        <div class="credits-right">
          CC BY-SA 4.0<br>
          __meta.version__-__meta.language__ <em>__meta.date__</em><br>
          <a href="__meta.url__" target="_blank">__meta.url__</a>
        </div>

        <img src="__path.images__/cc-by-sa-4.0.svg" alt="CC BY-SA 4.0">
      </section>
    </div>

    <div class="verso">
      <div class="column">
        <section class="fu">
          <header>
            <h2 data-section-num="2">
              <img src="__path.images__/score/tile-blank.png">
              <span class="kanji">符 - </span>__Fu__
            </h2>
          </header>

          <div class="wrapper">
            <div class="box">
              <p>
                __Seven Pairs__<br>
                <span class="roumaji">Chiitoitsu</span> <span class="kanji">七対子</span>
              </p>

              <img src="__path.images__/score/lock.svg" alt="lock" class="lock">

              <div class="yaku-score">
                <div class="yaku-score-box">25</div>
              </div>
            </div>

            <p class="separator">__Or__</p>

            <div class="box">
              <p>__Base__</p>

              <div class="yaku-score">
                <div class="yaku-score-box">20</div>
              </div>
            </div>

            <div class="box">
              <p>__Pon__</p>

              <div class="yaku-score">
                <div class="yaku-score-box header">
                  <img src="__path.images__/score/hand-opened.svg">
                </div>
                <div class="yaku-score-box header">
                  <img src="__path.images__/score/hand-closed.svg">
                </div>
              </div>

              <div class="box">
                <p>__Simples__</p>

                <div class="yaku-score">
                  <div class="yaku-score-box">+2</div>
                  <div class="yaku-score-box">+4</div>
                </div>
              </div>

              <div class="box">
                <p>__Term. / Hon.__</p>

                <div class="yaku-score">
                  <div class="yaku-score-box">+4</div>
                  <div class="yaku-score-box">+8</div>
                </div>
              </div>
            </div>

            <div class="box">
              <p>__Kan__</p>

              <div class="yaku-score">
                <div class="yaku-score-box header">
                  <img src="__path.images__/score/hand-opened.svg">
                </div>
                <div class="yaku-score-box header">
                  <img src="__path.images__/score/hand-closed.svg">
                </div>
              </div>

              <div class="box">
                <p>__Simples__</p>

                <div class="yaku-score">
                  <div class="yaku-score-box">+8</div>
                  <div class="yaku-score-box">+16</div>
                </div>
              </div>

              <div class="box">
                <p>__Term. / Hon.__</p>

                <div class="yaku-score">
                  <div class="yaku-score-box">+16</div>
                  <div class="yaku-score-box">+32</div>
                </div>
              </div>
            </div>

            <div class="box">
              <p>__Closed Ron__</p>

              <div class="yaku-score">
                <div class="yaku-score-box header">
                  <img src="__path.images__/score/hand-closed.svg">
                </div>
                <div class="yaku-score-box">+10</div>
              </div>
            </div>

            <div class="box">
              <p>__Open Pinfu__</p>

              <div class="yaku-score">
                <div class="yaku-score-box header">
                  <img src="__path.images__/score/hand-opened.svg">
                </div>
                <div class="yaku-score-box">+2</div>
              </div>
            </div>

            <div class="box">
              <p>__fu.Tsumo__ <span><em>__(w/o pinfu)__</em></span></p>

              <div class="yaku-score">
                <div class="yaku-score-box">+2</div>
              </div>
            </div>

            <div class="box">
              <p>__Single wait__</p>

              <div class="yaku-score">
                <div class="yaku-score-box">+2</div>
              </div>
            </div>

            <div class="box">
              <p>__Value pair__</p>

              <div class="yaku-score">
                <div class="yaku-score-box">+2</div>
              </div>

              <div class="box">
                <p>__Not cumulative.__</p>
              </div>
            </div>

            <p class="separator"></p>

            <div class="box">
              <p>__Total__</p>

              <div class="yaku-score">
                <div class="yaku-score-box">↑ 10</div>
              </div>

              <div class="box">
                <p>__Rounded up to the nearest ten.__</p>
              </div>
            </div>
          </div>
        </section>

        <section class="honba">
          <header>
            <h2>
              <img src="__path.images__/score/honba.png">
              __Honba__
            </h2>
          </header>

          <div class="wrapper">
            <p>__For each counter:__</p>

            <div class="box ron">
              <p>__honba.Ron__</p>

              <div class="yaku-score">
                <div class="yaku-score-box largest">+300 __pts__</div>
              </div>
            </div>

            <div class="box tsumo">
              <p>__honba.Tsumo__</p>

              <div class="yaku-score">
                <div class="yaku-score-box large">+100 __pts__</div>
                <div class="yaku-score-box small">
                  / <img src="__path.images__/score/player.svg">
                </div>
              </div>
            </div>

            <div class="box east-win">
              <p>
                __If East wins the hand,__<span> __he remains the East player and another counter is added.__</span>
              </p>
            </div>

            <div class="box other-win">
              <p>
                __If another player wins the hand,__<span> __the East player rotates and all counters are removed.__</span>
              </p>
            </div>
          </div>
        </section>

        <section class="tenpai">
          <header>
            <h2>
              <img src="__path.images__/score/tile-tenpai.png">
              __Tenpai / Noten__
            </h2>
          </header>

          <div class="wrapper">
            <div class="box">
              <p>__0 or 4 players tenpai__</p>

              <div class="box">
                <p>__No points exchanged.__</p>
              </div>
            </div>

            <div class="box">
              <p>__1 player tenpai__</p>

              <div class="box points-exchange">
                <p><img src="__path.images__/score/players.svg"></p>
                <div class="yaku-score">
                  <div class="yaku-score-box small">x3</div>
                  <div class="yaku-score-box large">1000 __pts__</div>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 14 8" height="8">
                  <path d="M0,4 h13 m-3,-3 l3,3 l-3,3" fill="none" stroke="black" stroke-linecap="round" />
                </svg>
                <p><img src="__path.images__/score/player.svg"></p>
              </div>
            </div>

            <div class="box">
              <p>__2 players tenpai__</p>

              <div class="box points-exchange">
                <p><img src="__path.images__/score/player.svg"></p>
                <div class="yaku-score">
                  <div class="yaku-score-box largest">1500 __pts__</div>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 14 8" height="8">
                  <path d="M0,4 h13 m-3,-3 l3,3 l-3,3" fill="none" stroke="black" stroke-linecap="round" />
                </svg>
                <p>
                  <img src="__path.images__/score/player.svg">
                </p>
              </div>

              <div class="box points-exchange">
                <p><img src="__path.images__/score/player.svg"></p>
                <div class="yaku-score">
                  <div class="yaku-score-box largest">1500 __pts__</div>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 14 8" height="8">
                  <path d="M0,4 h13 m-3,-3 l3,3 l-3,3" fill="none" stroke="black" stroke-linecap="round" />
                </svg>
                <p><img src="__path.images__/score/player.svg"></p>
              </div>
            </div>

            <div class="box">
              <p>__3 players tenpai__</p>

              <div class="box points-exchange">
                <p><img src="__path.images__/score/player.svg"></p>
                <div class="yaku-score">
                  <div class="yaku-score-box small">x3</div>
                  <div class="yaku-score-box large">1000 __pts__</div>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 14 8" height="8">
                  <path d="M0,4 h13 m-3,-3 l3,3 l-3,3" fill="none" stroke="black" stroke-linecap="round" />
                </svg>
                <p><img src="__path.images__/score/players.svg"></p>
              </div>
            </div>

            <p>__A counter is added.__</p>

            <div class="box">
              <p>
                __If East is tenpai,__<span> __he remains the East player.__</span>
              </p>
            </div>
          </div>
        </section>
      </div>

      <div class="column">
        <section class="points">
          <header>
            <h2 data-section-num="3">
              <img src="__path.images__/score/tile-blank.png">
              <span class="kanji">点 - </span>__Points__
            </h2>
          </header>

          <table>
            <thead>
              <tr>
                <th class="han">__Han__</th>
                <th class="fu">__Fu__</th>
                <th class="ron"><img src="__path.images__/score/tile-ron.png"></th>
                <th class="other">
                  <span class="kanji">子</span>
                  <span class="translation">__points.Other__</span>
                </th>
                <th class="east">
                  <span class="kanji">親</span>
                  <span class="translation">__East__</span>
                </th>
                <th class="tsumo"><img src="__path.images__/score/tile-tsumo.png"></th>
                <th class="other">
                  <span class="kanji">子</span>
                  <span class="translation">__points.Other__</span>
                </th>
                <th class="east">
                  <span class="kanji">親</span>
                  <span class="translation">__East__</span>
                </th>
              </tr>
            </thead>

            <tbody>
              <!-- 1 Han -->
              <tr class="row-block-start">
                <td class="han" rowspan="8">1</td>
                <td class="fu">30</td>
                <td class="ron" rowspan="8">__points.Ron__</td>
                <td class="other">10<em>00</em></td>
                <td class="east">15<em>00</em></td>
                <td class="tsumo" rowspan="8">__points.Tsumo__</td>
                <td class="other">3<em>00</em> / 5<em>00</em></td>
                <td class="east">5<em>00</em></td>
              </tr>
              <tr>
                <td class="fu">40</td>
                <td class="other">13<em>00</em></td>
                <td class="east">20<em>00</em></td>
                <td class="other">4<em>00</em> / 7<em>00</em></td>
                <td class="east">7<em>00</em></td>
              </tr>
              <tr>
                <td class="fu">50</td>
                <td class="other">16<em>00</em></td>
                <td class="east">24<em>00</em></td>
                <td class="other">4<em>00</em> / 8<em>00</em></td>
                <td class="east">8<em>00</em></td>
              </tr>
              <tr>
                <td class="fu">60</td>
                <td class="other">20<em>00</em></td>
                <td class="east">29<em>00</em></td>
                <td class="other">5<em>00</em> / 10<em>00</em></td>
                <td class="east">10<em>00</em></td>
              </tr>
              <tr>
                <td class="fu">70</td>
                <td class="other">23<em>00</em></td>
                <td class="east">34<em>00</em></td>
                <td class="other">6<em>00</em> / 12<em>00</em></td>
                <td class="east">12<em>00</em></td>
              </tr>
              <tr>
                <td class="fu">80</td>
                <td class="other">26<em>00</em></td>
                <td class="east">39<em>00</em></td>
                <td class="other">7<em>00</em> / 13<em>00</em></td>
                <td class="east">13<em>00</em></td>
              </tr>
              <tr>
                <td class="fu">90</td>
                <td class="other">29<em>00</em></td>
                <td class="east">44<em>00</em></td>
                <td class="other">8<em>00</em> / 15<em>00</em></td>
                <td class="east">15<em>00</em></td>
              </tr>
              <tr class="row-block-end">
                <td class="fu">100</td>
                <td class="other">32<em>00</em></td>
                <td class="east">48<em>00</em></td>
                <td class="other">8<em>00</em> / 16<em>00</em></td>
                <td class="east">16<em>00</em></td>
              </tr>
              <tr class="separator"><td colspan="8"></td></tr>

              <!-- 2 Han -->
              <tr class="row-block-start">
                <td class="han" rowspan="11">2</td>
                <td class="fu">20</td>
                <td class="ron" rowspan="11">__points.Ron__</td>
                <td class="other"></td>
                <td class="east"></td>
                <td class="tsumo" rowspan="11">__points.Tsumo__</td>
                <td class="other">4<em>00</em> / 7<em>00</em></td>
                <td class="east">7<em>00</em></td>
              </tr>
              <tr>
                <td class="fu">25</td>
                <td class="other">16<em>00</em></td>
                <td class="east">24<em>00</em></td>
                <td class="other"></td>
                <td class="east"></td>
              </tr>
              <tr>
                <td class="fu">30</td>
                <td class="other">20<em>00</em></td>
                <td class="east">29<em>00</em></td>
                <td class="other">5<em>00</em> / 10<em>00</em></td>
                <td class="east">10<em>00</em></td>
              </tr>
              <tr>
                <td class="fu">40</td>
                <td class="other">26<em>00</em></td>
                <td class="east">39<em>00</em></td>
                <td class="other">7<em>00</em> / 13<em>00</em></td>
                <td class="east">13<em>00</em></td>
              </tr>
              <tr>
                <td class="fu">50</td>
                <td class="other">32<em>00</em></td>
                <td class="east">48<em>00</em></td>
                <td class="other">8<em>00</em> / 16<em>00</em></td>
                <td class="east">16<em>00</em></td>
              </tr>
              <tr>
                <td class="fu">60</td>
                <td class="other">39<em>00</em></td>
                <td class="east">58<em>00</em></td>
                <td class="other">10<em>00</em> / 20<em>00</em></td>
                <td class="east">20<em>00</em></td>
              </tr>
              <tr>
                <td class="fu">70</td>
                <td class="other">45<em>00</em></td>
                <td class="east">68<em>00</em></td>
                <td class="other">12<em>00</em> / 23<em>00</em></td>
                <td class="east">23<em>00</em></td>
              </tr>
              <tr>
                <td class="fu">80</td>
                <td class="other">52<em>00</em></td>
                <td class="east">77<em>00</em></td>
                <td class="other">13<em>00</em> / 26<em>00</em></td>
                <td class="east">26<em>00</em></td>
              </tr>
              <tr>
                <td class="fu">90</td>
                <td class="other">58<em>00</em></td>
                <td class="east">87<em>00</em></td>
                <td class="other">15<em>00</em> / 29<em>00</em></td>
                <td class="east">29<em>00</em></td>
              </tr>
              <tr>
                <td class="fu">100</td>
                <td class="other">64<em>00</em></td>
                <td class="east">96<em>00</em></td>
                <td class="other">16<em>00</em> / 32<em>00</em></td>
                <td class="east">32<em>00</em></td>
              </tr>
              <tr class="row-block-end">
                <td class="fu">110</td>
                <td class="other">71<em>00</em></td>
                <td class="east">106<em>00</em></td>
                <td class="other">18<em>00</em> / 36<em>00</em></td>
                <td class="east">36<em>00</em></td>
              </tr>
              <tr class="separator"><td colspan="8"></td></tr>

              <!-- 3 Han -->
              <tr class="row-block-start">
                <td class="han" rowspan="6">3</td>
                <td class="fu">20</td>
                <td class="ron" rowspan="6">__points.Ron__</td>
                <td class="other"></td>
                <td class="east"></td>
                <td class="tsumo" rowspan="6">__points.Tsumo__</td>
                <td class="other">7<em>00</em> / 13<em>00</em></td>
                <td class="east">13<em>00</em></td>
              </tr>
              <tr>
                <td class="fu">25</td>
                <td class="other">32<em>00</em></td>
                <td class="east">48<em>00</em></td>
                <td class="other">8<em>00</em> / 16<em>00</em></td>
                <td class="east">16<em>00</em></td>
              </tr>
              <tr>
                <td class="fu">30</td>
                <td class="other">39<em>00</em></td>
                <td class="east">58<em>00</em></td>
                <td class="other">10<em>00</em> / 20<em>00</em></td>
                <td class="east">20<em>00</em></td>
              </tr>
              <tr>
                <td class="fu">40</td>
                <td class="other">52<em>00</em></td>
                <td class="east">77<em>00</em></td>
                <td class="other">13<em>00</em> / 26<em>00</em></td>
                <td class="east">26<em>00</em></td>
              </tr>
              <tr>
                <td class="fu">50</td>
                <td class="other">64<em>00</em></td>
                <td class="east">96<em>00</em></td>
                <td class="other">16<em>00</em> / 32<em>00</em></td>
                <td class="east">32<em>00</em></td>
              </tr>
              <tr class="row-block-end">
                <td class="fu">60+</td>
                <td class="other">80<em>00</em></td>
                <td class="east">120<em>00</em></td>
                <td class="other">20<em>00</em> / 40<em>00</em></td>
                <td class="east">40<em>00</em></td>
              </tr>
              <tr class="separator"><td colspan="8"></td></tr>

              <!-- 4 Han -->
              <tr class="row-block-start">
                <td class="han" rowspan="3">4</td>
                <td class="fu">20</td>
                <td class="ron" rowspan="3">__points.Ron__</td>
                <td class="other"></td>
                <td class="east"></td>
                <td class="tsumo" rowspan="3">__points.Tsumo__</td>
                <td class="other">13<em>00</em> / 26<em>00</em></td>
                <td class="east">26<em>00</em></td>
              </tr>
              <tr>
                <td class="fu">25</td>
                <td class="other">64<em>00</em></td>
                <td class="east">96<em>00</em></td>
                <td class="other">16<em>00</em> / 32<em>00</em></td>
                <td class="east">32<em>00</em></td>
              </tr>
              <tr class="row-block-end">
                <td class="fu">30+</td>
                <td class="other">80<em>00</em></td>
                <td class="east">120<em>00</em></td>
                <td class="other">20<em>00</em> / 40<em>00</em></td>
                <td class="east">40<em>00</em></td>
              </tr>
              <tr class="separator"><td colspan="8"></td></tr>

              <!-- 5+ Han -->
              <tr class="row-block-start">
                <td class="han mangan" colspan="2" data-han="5">__Mangan__</td>
                <td class="ron" rowspan="5">__points.Ron__</td>
                <td class="other">80<em>00</em></td>
                <td class="east">120<em>00</em></td>
                <td class="tsumo" rowspan="5">__points.Tsumo__</td>
                <td class="other">20<em>00</em> / 40<em>00</em></td>
                <td class="east">40<em>00</em></td>
              </tr>
              <tr>
                <td class="han haneman" colspan="2" data-han="6-7">__Haneman__</td>
                <td class="other">120<em>00</em></td>
                <td class="east">180<em>00</em></td>
                <td class="other">30<em>00</em> / 60<em>00</em></td>
                <td class="east">60<em>00</em></td>
              </tr>
              <tr>
                <td class="han baiman" colspan="2" data-han="8-10">__Baiman__</td>
                <td class="other">160<em>00</em></td>
                <td class="east">240<em>00</em></td>
                <td class="other">40<em>00</em> / 80<em>00</em></td>
                <td class="east">80<em>00</em></td>
              </tr>
              <tr>
                <td class="han sanbaiman" colspan="2" data-han="11+">__Sanbaiman__</td>
                <td class="other">240<em>00</em></td>
                <td class="east">360<em>00</em></td>
                <td class="other">60<em>00</em> / 120<em>00</em></td>
                <td class="east">120<em>00</em></td>
              </tr>
              <tr class="row-block-end">
                <td class="han yakuman" colspan="2">
                  <img src="__path.images__/score/stars.svg">
                  <span>__Yakuman__</span>
                </td>
                <td class="other">320<em>00</em></td>
                <td class="east">480<em>00</em></td>
                <td class="other">80<em>00</em> / 160<em>00</em></td>
                <td class="east">160<em>00</em></td>
              </tr>
            </tbody>
          </table>
        </section>
      </div>
    </div>
  </main>
</body>

</html>
