/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  line-height: 1.4;
  font-size: 1em;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

/*
 * Colors
 */
:root {
  --initiation-bg-color: #D4E2ED;
  --initiation-accent-color: #1864AB;
  --yakus-bg-color: #F1E4E4;
  --yakus-accent-color: #A92323;
  --score-bg-color: #E4DAE7;
  --score-accent-color: #862E9C;
  --ruler-bg-color: #D6E8E9;
  --ruler-accent-color: #0B7285;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/*
 * Titles
 */
h1,
h2 {
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

/*
 * Layout
 */
body {
  margin: 0;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -100px;
  margin-bottom: 50px;
}

#background {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
}
#bg-left,
#bg-right {
  position: absolute;
  z-index: -1;
  height: 60vw;
  top: 0;
  left: 30vw;
}
#bg-left {
  transform: translate(-70%, -10%);
}
#bg-right {
  transform: translate(105%, 15%);
}

#illustration-top {
  height: 280px;
  width: 280px;
}

h1 {
  margin: 0.1em 100% 1.5em;
  font-size: 45px;
  letter-spacing: 0.05em;
}

.sheet-type {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  margin: 0.5em;
}

.sheet-type header {
  text-align: center;
}

.sheet-type .illustration {
  display: inline;
  height: 6em;
}

.sheet-type h2 {
  padding-top: 0.5em;
  padding-bottom: 1em;
  margin: 0;
  font-size: 25px;
  letter-spacing: 0.05em;
  color: white;
}

.sheet-type h2::first-letter {
  text-transform: capitalize;
}

.sheet-type ul {
  margin: 0;
  padding: 40px;
  list-style-type: none;
}

.sheet-type li {
  display: flex;
  align-items: center;
}

.sheet-type li:not(:last-child) {
  margin-bottom: 0.8em;
}

.sheet-type .icon-flag {
  height: 1.5em;
  margin-top: -2px;
  margin-right: 1.5em;
  border-radius: 5px;
}

.sheet-type li p {
  margin: 0;
  font-weight: 700;
}

.buttons {
  display: flex;
  margin-left: auto;
}

.buttons .button {
  border: 2px solid currentColor;
  background: white;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.3em 0.7em;
  transition: background-color .4s;
}
.buttons .button:first-child {
  border-radius: 8px 0 0 8px;
}
.buttons .button:last-child {
  border-radius: 0 8px 8px 0;
}
.buttons .button:not(:first-child) {
  border-left-width: 0px;
}
.button:hover,
.button:focus {
  background-color: #ececec;
}
.buttons .button svg {
  fill: currentColor;
}


#initiation {
  background-color: var(--initiation-bg-color);
}
#initiation header {
  background-color: var(--initiation-accent-color);
}

#yakus {
  background-color: var(--yakus-bg-color);
}
#yakus header {
  background-color: var(--yakus-accent-color);
}

#ruler {
  background-color: var(--ruler-bg-color);
}
#ruler header {
  background-color: var(--ruler-accent-color);
}

#score {
  background-color: var(--score-bg-color);
}
#score header {
  background-color: var(--score-accent-color);
}
