<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Riichi Help Sheets</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500..700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="@styles/style.scss">
  <meta name="description" content="Sheets to help Riichi players.">

  <link rel="icon" href="@images/favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" sizes="180x180" href="@images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="@images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="@images/favicon-16x16.png">
  <link rel="mask-icon" href="@images/safari-pinned-tab.svg" color="#5bbad5">
</head>

<body>

  <main>
    <img src="@images/riichi.svg" alt="Riichi" id="illustration-top" class="illustration">

    <h1>Riichi</h1>

    <% for (type in downloads) { %>
    <section id="<%= type %>" class="sheet-type">
      <header>
        <img src="@images/<%= type %>.png" alt="<%= type %>" class="illustration">
        <h2><%= type %></h2>
      </header>

      <ul>
        <% for (language in downloads[type]) { %>
        <li>
          <img src="@images/flags/<%= language %>.svg" alt="<%= language %> flag" class="icon-flag">
          <p class="hidden"><%= language %> language</p>
          <div class="buttons">
            <% for (format in downloads[type][language]) { %>
            <a
              href="doc/<%= type %>-v<%= downloads[type][language][format] %>-<%= language %>.<%= format %>"
              class="button"
              aria-label="Download <%= type %> <%= language %> <%= format %>"
              title="v<%= downloads[type][language][format] %>">
              <img src="@images/download.svg" alt="Download" class="icon-download"> <%= format %>
            </a>
            <% } %>
          </div>
        </li>
        <% } %>
      </ul>
    </section>
    <% }; %>

    <div id="background">
      <img src="@images/ton.svg" alt="East Wind" id="bg-left">
      <img src="@images/chun.svg" alt="Red Dragon" id="bg-right">
    </div>

  </main>

</body>

</html>
